 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
			<div class="content">
			<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title">{$meta_title|default=""}</div>
				<div class="edit_box">
				
					<div class="edit_tab">
						<div class="tab_option on">基础</div>
						<div class="tab_option">高级</div>
					</div>
					<div class="edit_content">
							 <form class="group-form"  action="{:url('')}" method="post">
							 <div class="edit_content_tab">
						    <div class="input_title">名称<span>(名称)</span></div>
							<input type="text" name="title" class="input_box" value="{$info.title|default=""}"/>
							<div class="input_title">链接<span>(链接)</span></div>
						  <input type="text" id="url" class="input_box" name="url" value="{$info.url|default=""}">
							<div class="input_title">位置<span>(幻灯片位置)</span></div>
							 <select id="place" class="input_box" name="place">
								 <option value="">请选择</option>
								 <option value="1" {$info.place==1?"selected":""}>首页大图轮播</option>
								 <option value="2" {$info.place==2?"selected":""}>首页小图轮播</option>
							 </select>
				      	<div class="upload_div">
								<div class="input_title">图片<span>(图片名称)</span></div>
								<div class="upload_btn_group">
									<div class="upload_btn">上传图片</div>
									<input type="file" class="upload_file" id="cover_id" onchange="upload()" />
								</div>
								<div class="upload_imgs">
									<input type="text" name="cover_id" value="{$info.cover_id|default=''}"	id="hiddencover_id">
									<span class="upload_imgs_wrap cover_id">
									  {notempty name="info['cover_id']"}
							              <div class="upload-pre-item" id="upload-pre-item"> <img src="{$info.cover_id|get_cover_path}"/>
						                </div>{/notempty}
									
									</span>
									
								</div>
							</div>
					<script type="text/javascript" src="__COMMON__/uploadify/jquery.uploadify.min.js"></script>									
					<script type="text/javascript">
						/* 初始化上传插件 */
						function upload() {
							var form = new FormData();
							var img_file = $("#cover_id").val();
							var fileobj = $("#cover_id")[0].files[0];
							var picid = $("#hiddencover_id").val();
							form.append('name',img_file);
							form.append('imgFile',fileobj);
							$.ajax({
								url: "/admin.php/uploads/upimg.html?dir=image&picid="+picid,
								data: form,
								dataType:'JSON',
								type: "POST",
								processData:false,
								contentType:false,
								success: function(res){
									console.dir(res);
									// console.log(res);
									$("#upload-pre-item").html('<img width="60px" class="up_img" src="'+res.url+'" />');
									$("#hiddencover_id").val(res.id);
								}
							})
						}
					
					</script>			
						</div>
						<div class="edit_content_tab none">
							  <div class="input_title">排序<span>(越小越靠前)</span></div>
							<input type="text" name="sort" class="input_box" value="{$info.sort|default=""}"/>
					
					 <div class="input_title">额外参数<span>(额外参数)</span></div>
							<input type="text" name="extra" class="input_box" value="{$info.extra|default=""}"/>
					
					
						  <div class="input_title">创建时间<span>(创建时间)</span></div>
							<input type="text" name="create_time" id="create_time" class="laydate-icon input_box" 
							value="{notempty name='info.id'}{$info.create_time|time_format}{/notempty}"/>
				 <script type="text/javascript" src="__COMMON__/laydate/laydate.js"></script>		
				 	<script>
laydate({
  elem: '#create_time',
  format: 'YYYY-MM-DD hh:mm:ss', 
  min: laydate.now(), //设定最小日期为当前日期//目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
  event: 'focus' //响应事件。如果没有传入event，则按照默认的click
});
</script>

 <div class="input_title">更新时间<span>(更新时间)</span></div>
<input type="text" name="update_time" id="update_time" class="laydate-icon input_box" value="{notempty name='info.id'}{$info.update_time|time_format}{/notempty}"/>
				 	
	<script>
laydate({
  elem: '#update_time', 
  format: 'YYYY-MM-DD hh:mm:ss', 
  min: laydate.now(), //设定最小日期为当前日期//目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
  event: 'focus' //响应事件。如果没有传入event，则按照默认的click
});
</script>
</div>
					
				
						<div class="btn_group">
						    <input type="hidden" name="id" value="{$info.id|default=""}">
							<div class="confirm_btn">确认</div>
							<div class="cancel_btn">返回</div>
						</div></form> 
					</div>
				</div>
			</div>
		</div>
	

 <script src="__JS__/edit.js"></script>

<!-- 尾部 -->
	{include file='public/footer'}
    <!-- 尾部 --> 
