 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
			<div class="content">
			<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				
				<div class="edit_box">
					<div class="edit_title">{$meta_title|default=""}</div>
					<div class="edit_tab">
						<div class="tab_option on">基础</div>
						<div class="tab_option">高级</div>
					</div>
					<div class="edit_content">
							 <form class="group-form"  action="{:url('')}" method="post">
							 <div class="edit_content_tab">
						    <div class="input_title">用户名称<span>(名称)</span></div>
							<input type="text" name="username" class="input_box" value="{$info.username|default=""}"/>
							<div class="input_title">性别<span>(性别)</span></div>
						  <input type="text" id="user-weibo" class="input_box" name="sex" value="{$info.sex|default=""}">
						<div class="input_title">省份<span>(籍贯)</span></div>
                            <input type="text" name="province" class="input_box" value="{$info.email|default=""}"/>
							<div class="input_title">城市<span>(籍贯)</span></div>
                            <input type="text" name="city" class="input_box" value="{$info.city|default=""}"/>

							<div class="input_title">专业方向<span>(专业方向)</span></div>
                            <input type="text" name="professional" class="input_box" value="{$info.professional|default=""}"/>
							<div class="input_title">是否接受调剂<span>(专业方向)</span></div>
                            <input type="text" name="is" class="input_box" value="{$info.is|default=""}"/>
							<div class="input_title">身份证号码</div>
                            <input type="text" name="ids" class="input_box" value="{$info.ids|default=""}"/>
				     <div class="input_title">14位报名号</div>
                            <input type="text" name="numbers" class="input_box" value="{$info.ids|default=""}"/>
							
						
						</div>
						<div class="edit_content_tab none">
							<div class="input_title">考生类型</div>
                            <input type="text" name="type" class="input_box" value="{$info.type|default=""}"/>
							<div class="input_title">高考成绩</div>
                            <input type="text" name="score" class="input_box" value="{$info.score|default=""}"/>
								<div class="input_title">毕业高中</div>
                            <input type="text" name="graduate" class="input_box" value="{$info.score|default=""}"/>
								<div class="input_title">手机号</div>
                            <input type="text" name="mobile" class="input_box" value="{$info.mobile|default=""}"/>
								<div class="input_title">qq</div>
                            <input type="text" name="qq" class="input_box" value="{$info.qq|default=""}"/>
							<div class="input_title">推荐人<span></span></div>
                            <input type="text" name="up" class="input_box" value="{$info.up|default=""}"/>
		                  <div class="input_title">推荐人联系方式<span></span></div>
                            <input type="text" name="up_mobile" class="input_box" value="{$info.up|default=""}"/>
						</div>
						<div class="btn_group">
						    <input type="hidden" name="id" value="{$info.id|default=""}">
							<div class="confirm_btn">确认</div>
							<div class="cancel_btn">返回</div>
						</div></form> 
					</div>
				</div>
			</div>
		</div>
       <script src="__JS__/edit.js"></script>
	  <script>
       $("#encrypt").click(function(){
            var url = "{:url('encrypt')}";
	        var pwd=$("input[name='password']").val();
	        if(!pwd){
	           alert("密码不能为空");
	        }
            $.post(url,{password:pwd},function(data){
             $("input[name='password']").val(data);
           });
        });
		</script>
 <!-- 头部 -->
	{include file='public/footer'}
<!-- 头部 --> 
